<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<!--CONNECT DATABASE-->
	<connectionStrings>
		<add name="connect" connectionString="Server=DESKTOP-5B97OAA\SQLEXPRESS; Integrated Security=true; Database=Dudesk"/>
	</connectionStrings>
	
</configuration>